$primary-color: #025464;
$secondery-color1: #E57C23;
$secondery-color2: #E8AA42;
$secondery-color3: #F8F1F1;
$secondery-color4: #F0E6E6;

$danger-color: #FF3A46;

$padding-nav: 8rem;
$header-padding: 8rem;
$nav-height: 7rem;
$font-color: #343434;
$font-color2: #7E7E7E;



$header-height: 85rem;
$university-height: 60rem;

$footer-height: 40rem;