@import "../../../styles/variables.scss";

.header{
    padding: 0 $header-padding;
    padding-top: $nav-height;
    height: $header-height;
    width: 100%;
    background-color: $secondery-color3;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    display: flex;
    
    &__description-general{
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        .header__big-title{
            height: 55%;
            width: 100%;
            font-size: 8.5rem;
            padding: 4rem;
            &--primary-color{
                color: $primary-color;
            }
            &--secondery-color{
                color: $secondery-color1;
            }
            .header__bar{
                border-radius: 10rem;
                width: 22rem;
                height: 1rem;
                background-color:$secondery-color1;
            }
        }
        
    }
    
    &__illustration{
        padding: 5rem;
        width: 50%;
    }
}