@import "../../styles/variables.scss";

$image-size: 7rem;

.profil-card{
    background-color: $primary-color;
    max-height: 40rem;
    height: 40rem;
    max-width: 30rem;
    width: 30rem;
    border-radius: 5rem;
    position: relative;
    padding-top: $image-size;
    margin: 0 1rem;
    & > *:not(img){
        overflow: hidden;
    }
    &__profile-img{
        position: absolute;
        right: calc(50% - $image-size);
        top: -$image-size;
        min-height: $image-size *2;
        min-width: $image-size * 2;
        max-height: $image-size * 2;
        max-width: $image-size * 2;
        border-radius: 10rem;
        object-fit: cover;
    }
    &__name{
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: white;
        font-weight: 300;
        font-size: 2.5rem;
    }
    p{
        text-align: start;
        color: white;
        padding: .8rem 6rem;
    }
    button{
        margin: 4rem;
        font-family: inherit;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        border:none;
        color: $font-color;
        box-shadow: .2rem .4rem #023c48;
        transition: all .1s;
        &:hover{
            cursor: pointer;
            transform:translate(0,-.1rem);
        }

        &:active{
            box-shadow: none;
            transform:translate(0rem, .2rem);
        }
    }
    ::selection {
        border-radius: 5px;
        background-color: $secondery-color1;
        color: white;
    }
}